<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>상세글페이지</title>
    <link rel="stylesheet" type="text/css" href="../css/Bbsdetail.css" >
    <link rel="stylesheet" href="../images/favicon.ico">
</head>
    <body>
        <!-- 상단 내비게이션 -->
        <nav role="navigation">
            <img src="../images/logo.png" id="logo-img" width="150px" height="90px">
            <ul id="main-menu nav-pills">
                <li class="left-tab slide"><a href="#" style="margin-left:27px;">카테고리</a>
                    <ul id="sub-menu">
                        <li><a href="#" aria-label="submenu">submenu</a></li>
                        <li><a href="#" aria-label="submenu">submenu</a></li>
                        <li><a href="#" aria-label="submenu">submenu</a></li>
                        <li><a href="#" aria-label="submenu">submenu</a></li>
                    </ul>
                </li>
                <li class="left-tab"><a href="../view/Bbslist.html" style="margin-left:27px;">게시판</a></li>
                <li class="right-tab"><a href="../view/Login.html">로그인</a></li>
                <li class="right-tab"><a href="../view/Regi.html">회원가입</a></li>
            </ul>
        </nav>
        
        <main>
            <!-- 메인 이미지-->
            <div id="main-image">
                <img src="../images/detailimg.png" alt="메인이미지" width="340px" height="220px" text-align="center">
            </div>

            <!-- 메인 컨텐츠-->
            <div id="main-contents">
                <!-- 상세글 제목, 내용 -->
                <table class="recipe-wrapper">
                    <tr>
                        <td colspan="2" style="height:35px">제목</td>
                        <td><input type="text" id="title" name="title"></td>
                    </tr>
                    <tr>
                        <td colspan="2">내용</td>
                        <td><div style="width:400px; height:450px; background-color: #fff;"></div></td>
                    </tr>
                </table>

                <!-- 인분부터 평점까지 -->
                <div class="right">
                    <table class="recipe-content"> 
                        <tr>
                            <td></td>
                            <td>인분</td>
                        </tr>
                        <tr>
                            <td>조리시간</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>레시피 재료</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>태그</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>평점</td>
                            <td>/5</td>
                        </tr>
                    </table>
                </div>

            </div>

                <!-- 평점 입력 -->
            <div id="bottom-wrapper">   
                <form action="commentWriteAf.do" method="post">
                    <input type="hidden" name="seq" value="">
                    <input type="hidden" name="id" value="">
                    
                    <table style="width:1170px" id="bottom-table">

                        <tr>
                            <td>평점 입력</td>
                            <td><input type="text" id="stars" name="stars" placeholder="1.0에서 5.0까지 숫자를 입력하세요"></td>
                        </tr>
                        <tr>
                            <td>
                                <textarea rows="3" class="comment" name="content"></textarea>
                            </td> 
                            <td>
                                <button type="submit" class="commentBtn">댓글 작성</button>
                            </td>
                        </tr>
                    </table>
                    </form>
                <div id="btn-wrapper">
                    <button class="listBtn">글 목록</button>
                    <button class="updateBtn">수정하기</button>
                    <button class="deleteBtn">삭제하기</button>
                </div>
            </div> 
        </main>
        
        <!-- 하단 푸터 -->
        <footer>
            <p> Copyright © 2023. MultiCampus. </p>
        </footer>
    </body>
</html>